body{
    margin: 0;
    font-family: 'Redressed', cursive;
}
h1{
    font-family: 'Redressed', cursive;
    text-align: center;
    font-size: 40px;

}
h2{
    color: darkslategrey;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
section{
    height: 518px;
}
.header img{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    
}
a{
     text-decoration: none;
     text-align: center;
     color: darkslategrey;
     margin-left: auto;
     margin-right: auto;
     display: block;
     padding-top: 1px;
}
p{
    border: 1px solid red;
    display: block;
    text-align: center;
    

}